<template>
  <section class="min-h-screen">
    <h1 v-if="uniqueFavorites.length < 1" class="text-3xl font-bold">
      You do not have any favorites yet. 😢💔
    </h1>
    <div class="w-full h-auto" v-else>
      <h1 class="text-3xl font-bold">Your Favorites doggies ♥ 🐕🐕‍🦺🐩</h1>
      <gif-list :gifs="uniqueFavorites" />
    </div>
  </section>
</template>

<script>
import GifList from "../components/GifList.vue";

export default {
  name: "Favorites",
  components: { GifList },

  data() {
    return {
      dirtFavorites: [],
      uniqueFavorites: [],
    };
  },

  created() {
    let data = localStorage.getItem("favorites");
    if (data != null) {
      this.dirtFavorites = JSON.parse(data);
      this.renderFavorites(this.dirtFavorites);
    }
  },
  methods: {
    renderFavorites(array) {
      const uniq = [
        ...array.reduce((map, obj) => map.set(obj.id, obj), new Map()).values(),
      ];
      this.uniqueFavorites = uniq;
    },
  },
};
</script>


