<template>
  <div class="flex flex-col">
    <form
      class="bg-darkBlue flex w-full justify-between h-8 md:h-12 lg:h-16"
      @submit.prevent="customOnSubmit"
    >
      <input
        type="text"
        id="search-bar"
        v-model="search"
        placeholder="Search..."
        class="h-full w-2/3 bg-darkBlue text-white p-2"
      />
      <button
        type="submit"
        class="text-white bg-gradient-to-r from-pink-400 to-pink-600"
      >
        <svg
          class="w-6 h-6 md:w-8 md:h-8 lg:w-10 lg:h-10"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M8 16l2.879-2.879m0 0a3 3 0 104.243-4.242 3 3 0 00-4.243 4.242zM21 12a9 9 0 11-18 0 9 9 0 0118 0z"
          ></path>
        </svg>
      </button>
    </form>

    <div class="self-center">
      <bounce-loader
        :color="'#FF8FB1'"
        :size="100"
        :loading="isLoading"
      ></bounce-loader>
    </div>

    <gif-list v-if="(searchedAssets.length < 1) & !isLoading" :gifs="assets" />

    <gif-list v-else :gifs="searchedAssets" />
  </div>
</template>

<script>
import { getAllGifs, searchGifs } from "@/api";
import GifList from "@/components/GifList.vue";

export default {
  name: "Home",

  components: { GifList },

  data() {
    return {
      isLoading: false,
      assets: [],
      searchedAssets: [],
      searches: [],
      search: "",
    };
  },
  created() {
    (this.isLoading = true), this.getHomeData();
  },

  methods: {
    async getHomeData() {
      this.assets = await getAllGifs();
      this.isLoading = false;
    },
    async getSearchData(searchWords) {
      this.searchedAssets = await searchGifs(searchWords);
    },
    customOnSubmit() {
      let giftSearch = {
        search: this.search,
      };
      this.searches.push(giftSearch.search);
      localStorage.setItem("searches", JSON.stringify(this.searches));
      this.getSearchData(giftSearch.search);
    },
  },
};
</script>
