<template>
  <section class="h-screen">
    <div class="h-full">
      <h1 class="font-bold text-3xl" v-if="mySearches.length < 1">
        You have no recent searches yet. 😢💔
      </h1>
      <h1 class="font-bold text-3xl" v-else>Your latest searches:</h1>
      <ul class="list-disc pl-12 mt-4">
        <li class="text-xl" v-for="(search, index) in mySearches" :key="index">
          {{ search }}
        </li>
      </ul>
    </div>
  </section>
</template>

<script>
export default {
  name: "Searches",
  props: ["searches"],

  data() {
    return {
      mySearches: [],
    };
  },
  created() {
    let data = localStorage.getItem("searches");
    if (data != null) {
      this.mySearches = JSON.parse(data);
    }
  },
};
</script>