<template>
    <div class=" flex flex-col gap-4">
    <div class="w-full">
     <button
     v-on:click="goBack"
     class=" rounded-xl border-2 border-indigo-300 hover:bg-indigo-300 hover:text-white hover:border-gray-300 w-32 h-12">
     go back
     </button>
    </div>
     <px-assets-table :assets="teams"/>
    </div>
</template>

<script>
import { getTeamsByCountryId } from '@/api'
import PxAssetsTable from '@/components/PxAssetsTable.vue'

export default {
    name: 'CountryDetail',
    components: { PxAssetsTable },

    data() {
        return {
            teams: []
        }
    },

    created() {
        this.getTeams()
    },

    methods: {
        async getTeams () {
            const id = this.$route.params.id
            this.teams = await getTeamsByCountryId(id)
        },
        goBack(){
            this.$router.go(-1)
        }
    }
}

</script>