<template>
    <section class="flex flex-col justify-items-center items-center">
            <input
            class="bg-gray-100 focus:outline-none border-b border-gray-400 py-2 px-4 block w-full md:hidden appearance-none leading-normal"
            id="filter"
            placeholder="Search your country..."
            type="text"
            v-model="filter"
          />
    <table class="w-full">
        <thead>
        <tr class="bg-gray-100 border-b-2 border-gray-400">
       <th>Id</th>
       <th>Name</th>
       <th>Continent</th>
        <td class="hidden sm:block">
        <input
            class="bg-gray-100 focus:outline-none border-b border-gray-400 py-2 px-4 block w-full appearance-none leading-normal"
            id="filter"
            placeholder="Search your country..."
            type="text"
            v-model="filter"
          />
        </td>
      </tr>
        </thead>
        <tbody>
          <tr
          v-for="c in filteredCountries"
          :key="c.country_id"
         class="border-b border-gray-200  hover:bg-orange-100"
          >
           <td>{{c.country_id}}</td>
           <td>
            <router-link
             class="hover:underline font-semibold hover:text-blue-300"
           :to="{ name:'country-team', params: { id: c.country_id } }"
            >
             {{c.name}}
            </router-link>
           </td>
           <td>{{c.continent}}</td>
          </tr>
        </tbody>
    </table>
    </section>
</template>

<script>
import { getAllCountries } from '@/api'

export default {
    name:'Home',

    data() {
        return {
            filter: '',
            countries: []
        }
    },

    computed: {
        filteredCountries() {
            if(!this.filter){ return this.countries.slice(8)}

            return this.countries.filter(a =>
            a.name.toLowerCase().includes(this.filter.toLowerCase())
            )
        }
    },
    created(){
        this.getHomeData()
    },

    methods: {
        async getHomeData() {
            this.countries = await getAllCountries()
        },
        goToCountry(id) {
            this.$router.push({ name:'country-team', params: { id } })
        }
    }
}

</script>