<template>
  <div class="flex flex-col">
    <select
      v-model="tournaments.selected"
      @change="onChange($event)"
      class="md:hidden"
    >
      <option disabled selected>choose an event</option>
      <option
        v-for="league in tournaments.leagues"
        :key="league.league_id"
        :value="league.league_id"
      >
        {{ league.name }}
      </option>
    </select>

    <select
      v-if="seasons.length > 0"
      v-model="matchesData"
      @change="onChangeMatches($event)"
      class="md:hidden"
    >
      <option disabled selected>choose a year</option>
      <option v-for="season in seasons" :key="season.season_id" :value="season">
        {{ season.start_date }}
      </option>
    </select>

    <section>
      <div v-if="matches.length < 1" class="bg-yellow-200 text-center">
        <h2 class="text-2xl font-bold">choose your event and year ⚽</h2>
      </div>
      <table class="w-full">
        <thead class="text-left">
          <tr class="bg-gray-100 border-b-2 border-gray-400">
            <th>local</th>
            <th>away</th>
            <th>stage</th>
            <th>group</th>
            <th>result</th>
            <th>match date</th>
            <td class="hidden sm:flex flex-col gap-4 w-64">
              <select
                v-model="tournaments.selected"
                @change="onChange($event)"
                class="bg-gray-200 w-full"
              >
                <option disabled selected>choose an option</option>
                <option
                  v-for="league in tournaments.leagues"
                  :key="league.league_id"
                  :value="league.league_id"
                >
                  {{ league.name }}
                </option>
              </select>
              <select
                v-if="seasons.length > 0"
                v-model="matchesData"
                @change="onChangeMatches($event)"
                class="bg-gray-200 w-32"
              >
                <option disabled selected>choose a year</option>
                <option
                  v-for="season in seasons"
                  :key="season.season_id"
                  :value="season"
                >
                  {{ season.start_date }}
                </option>
              </select>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="match in nonNullItems"
            :key="match.match_id"
            class="border-b border-gray-200 hover:bg-orange-100"
          >
            <td>
              <p
                v-if="match.stats.home_score > match.stats.away_score"
                class="text-green-300"
              >
                {{ match.home_team.short_code }}
              </p>
              <p
                v-if="match.stats.home_score < match.stats.away_score"
                class="text-red-300"
              >
                {{ match.home_team.short_code }}
              </p>
              <p v-if="match.stats.home_score == match.stats.away_score">
                {{ match.home_team.short_code }}
              </p>
            </td>
            <td>
              <p
                v-if="match.stats.away_score > match.stats.home_score"
                class="text-green-300"
              >
                {{ match.away_team.short_code }}
              </p>
              <p
                v-if="match.stats.away_score < match.stats.home_score"
                class="text-red-300"
              >
                {{ match.away_team.short_code }}
              </p>
              <p v-if="match.stats.home_score == match.stats.away_score">
                {{ match.away_team.short_code }}
              </p>
            </td>
            <td v-if="match.stage !== null">{{ match.stage.name }}</td>
            <td v-else class="text-red-300">there is no record</td>
            <td v-if="match.group !== null">{{ match.group.group_name }}</td>
            <td v-else class="text-red-300">there is no record</td>
            <td>{{ match.stats.home_score }} - {{ match.stats.away_score }}</td>
            <td>{{ match.match_start }}</td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
</template>

<script>
import { getAllSeasons, getMatches } from "@/api";

export default {
  data() {
    return {
      matchesData: {},
      filter: "",
      seasons: [],
      matches: [],
      tournaments: {
        selected: "",
        leagues: [
          {
            league_id: 788,
            name: "World Cup Masculine",
          },
          {
            league_id: 782,
            name: "World Cup Qualification Women",
          },
        ],
      },
    };
  },

  computed: {
    nonNullItems: function () {
      return this.matches.filter(function (match) {
        return match.home_team || match.away_team !== null;
      });
    },
  },

  methods: {
    async getSeasons(id) {
      this.seasons = await getAllSeasons(id);
    },
    async getAllMatches(id, date) {
      this.matches = await getMatches(id, date);
      console.log(this.matches);
    },
    onChange(event) {
      this.getSeasons(event.target.value);
    },
    onChangeMatches() {
      const id = this.matchesData.season_id;
      const date = this.matchesData.start_date;
      this.getAllMatches(id, date);
    },
  },
};
</script>