<template>
    <table class="w-full">
    <thead>
      <tr class="bg-gray-100 border-b-2 border-gray-400">
        <th>Id</th>
        <th>Name</th>
        <th>Logo</th>
        <td class="hidden sm:block">
        <input
            class="bg-gray-100 focus:outline-none border-b border-gray-400 py-2 px-4 block w-full appearance-none leading-normal"
            id="filter"
            placeholder="Search your team..."
            type="text"
            v-model="filter"
          />
        </td>
      </tr>
    </thead>
     <tbody>
        <tr
         v-for="a in filteredAssets"
         :key="a.country_id"
         class="border-b border-gray-200  hover:bg-orange-100"
        >
            <td v-if="a.team_id">{{ a.team_id }}</td>
            <td v-else>{{ a.country_id }}</td>

            <td>{{ a.name }}</td>

            <td v-if="a.logo"><img v-bind:src="a.logo" alt=""></td>
        </tr>
     </tbody>
    </table>
</template>

<script>

export default {
    name: 'PxAssetsTable',

    data() {
        return {
            filter: ''
        }
    },
    props: {
        assets: {
            type: Array,
            default: () => []
        }
    },

        computed: {
        filteredAssets() {
            if(!this.filter){ return this.assets}

            return this.assets.filter(a =>
            a.name.toLowerCase().includes(this.filter.toLowerCase())
            )
        },

    },

}

</script>