<template>
   <header class="shadow w-screen">
       <nav>
           <nav class="flex items-center justify-between  bg-green-400 p-6">
               <div class="flex items-center flex-shrink-0 text-white mr-6">
                   <router-link
                    to="/"
                   class="font-semibold text-xl tracking-tight">SportsApi</router-link>
               </div>

               <div class="hidden sm:block w-full blok flex-grow lg:flex lg:items-center lg:wauto">
                   <div class="text-sm lg:flex-grow"></div>
               </div>

               <div class="w-1/2 md:w-1/3 h-full flex gap-4 text-white">
                   <router-link
                    to="/worldcup"
                   class="font-semibold text-xl tracking-tight">
                    World Cup
                   </router-link>
                   <router-link
                    to="/"
                   class="font-semibold text-xl tracking-tight">
                    Countries Teams
                   </router-link>
               </div>
           </nav>
       </nav>
    </header>
</template>

<script>

export default {
  name: 'PxHeader',
}
</script>
