<template>
  <div
    class="
      w-32
      sm:w-40
      h-48
      md:w-48
      lg:w-64 lg:h-56
      relative
      cursor-pointer
      mb-5
      bg-semiDarkBlue
      rounded-2xl
    "
  >
    <div
      class="absolute inset-0 bg-white opacity-25 rounded-lg shadow-2xl"
    ></div>
    <div
      class="absolute inset-0 transform hover:rotate-45 transition duration-300"
    >
      <div
        class="
          h-full
          w-full
          flex
          justify-end
          items-start
          bg-white
          opacity-75
          hover:opacity-100
          scale-50
          hover:scale-75
          ease-in
          duration-500
          rounded-lg
          shadow-2xl
          bg-no-repeat bg-cover
        "
        :style="`background-image: url('${gif.images.fixed_width.url}')`"
      >
        <button
          class="rounded-lg"
          :class="[isActive ? 'bg-red-600' : null]"
          @click="saveFavoriteGif(gif)"
        >
          <px-hearth />
        </button>
      </div>
      <h3 class="font-semibold text-sm">{{ shortTitle(gif.title) }}</h3>
    </div>
  </div>
</template>

<script>
import PxHearth from "@/components/PxHearth.vue";

export default {
  name: "Card",
  props: ["gif"],

  components: { PxHearth },

  data() {
    return {
      isActive: false,
    };
  },

  methods: {
    toggle() {
      if (!this.isActive) {
        this.isActive = true;
      } else {
        this.isActive = false;
      }
    },
    saveFavoriteGif(myFavoriteGif) {
      this.toggle();
      if (localStorage.getItem("favorites") == null) {
        localStorage.setItem("favorites", "[]");
      }
      let oldData = JSON.parse(localStorage.getItem("favorites"));
      oldData.push(myFavoriteGif);

      localStorage.setItem("favorites", JSON.stringify(oldData));
    },
    shortTitle(gifTitle) {
      const result = gifTitle.slice(0, 12);
      return result;
    },
  },
};
</script>