<template>
  <section id="gifList" class="mt-5 flex justify-between flex-wrap gap-4">
    <card v-for="gif in gifs" :gif="gif" :key="gif.id" />
  </section>
</template>

<script>
import Card from "@/components/Card.vue";

export default {
  name: "GifList",
  components: { Card },
  props: ["gifs"],
};
</script>