<template>
  <header class="shadow max-w-full">
    <nav>
      <nav
        class="flex items-center justify-between flex-wrap bg-semiDarkBlue p-6"
      >
        <div class="flex items-center flex-shrink-0 text-white mr-6">
          <px-icon class="mr-2" />
          <router-link to="/" class="font-semibold text-xl tracking-tight"
            >Doggiephy</router-link
          >
        </div>

        <div class="flex self-center w-1/3 justify-evenly">
          <router-link to="/history">
            <img src="../assets/Shape.png" alt="" />
          </router-link>
          <router-link to="/favorites">
            <img src="../assets/Bookmark.png" alt="" />
          </router-link>
        </div>
      </nav>
    </nav>
  </header>
</template>

<script>
import PxIcon from "@/components/PxIcon";

export default {
  name: "PxHeader",
  components: { PxIcon },
};
</script>